src/main/mule/test-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="24393463-dafe-421a-b9f5-f907dae73d38" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7ec0bc58-7ecd-4665-9ff1-ba777f246b26" >
		<http:request-connection protocol="HTTPS" host="dummyjson.com" />
	</http:request-config>
	<flow name="test-sample" doc:id="ee934fc2-dc2a-4162-9915-efd1004de2db" >
		<http:listener doc:name="Listener" doc:id="bf950813-a9bf-46a3-a551-c8b5907ad744" config-ref="HTTP_Listener_config" path="/api"/>
		<http:request method="GET" doc:name="Request" doc:id="1b27d49a-b353-4e8c-baba-8da42d1d0ed3" path="/products/1" config-ref="HTTP_Request_configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="87e2cfb1-44c5-4fa4-9805-904c8238cc9f" message="started********"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="04e154b1-f6da-4768-91a1-f60211de48bd" />
	</flow>
</mule>
